.map-layer {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  position: relative
}

body {
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
}
#map {
  width: 1920px;
  height: 1280px;

}
.main-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  fill-opacity : 1;
  stroke-width: 1;
  stroke: black;
}
#interface {
  position:absolute;
  z-index:1;
  left: 50vw;
  margin-left:-25%;
  top:20px;
}

#interface .interface-item {
  margin: 0 10px 0 10px;
  display: inline-block;
}

#interface .interface-sample {
  position: relative;
  left: 10vw;
}

.mdc-text-field {
  position: relative;
  top: 15px ;
}

#radar {
  text-align: center;
}

.legend text {
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  fill: white;
  stroke: black;
  stroke-width: 0.5px
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-drawer{
  width: 30vw;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.close-button {
  position: absolute;
  right: 0;
}
.content {
  display: none;
}

.content--active {
  display: block;
}