.map-layer {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  position: relative
}

body {
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
}
#map {
  width: 100vw;
  height: 100vh;
  position: absolute;

}
.main-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  fill-opacity : 1;
  stroke-width: 1;
  stroke: black;
  cursor: default;
}

#interface {
  position: absolute;
  z-index:1;
  left: 30vw;
  top: 5vh;
  vertical-align: top;
}

#interface .interface-item {
  margin: 0 5vw 0 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

#interface .interface-sample {
  position: relative;

}

@media (max-width: 850px) {
  #interface {
    left: 8vw;
  }
  #interface .interface-item {
    margin: 0 0 0 0;
    display: block;
  }

  #interface .interface-sample {
    position: relative;
    top: 1rem;
    left: 0vw;
  }
  #interface .mdc-text-field {
    margin: 0 0.5rem 0.5rem 0
  }
}
.mdc-text-field {
  position: relative;
}

#radar {
  text-align: center;
}


.legend {
  position: absolute;
  bottom: 15vh;
  left: 25vw;
  stroke: black;
}

.legend text {
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  fill: white;
  stroke: black;
  stroke-width: 0.5px
}

@media (max-width: 850px) {
  .legend {
    position: absolute;
    left: 10vw;
    bottom: 12vh;
  }
  .legend text {
    font-size: 15pt;
    stroke-width: 0.5px
  }
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-drawer{
  width: 30vw;
  overflow: hidden;
}

@media (max-width: 850px) {
  .mdc-drawer{
    width: 80vw;
  }
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.close-button {
  position: absolute;
  right: 0;
}
.content {
  display: none;
}

.content--active {
  display: block;
}

.mdc-drawer__title {
  font-size: 36pt;
}

.mdc-drawer__subtitle {
  font-size: 1.3rem;
}
.main-text {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.about-footer {
  position: relative;
  top: 5vh;
  text-align: center;
  width: 100%;
}

@media (max-width: 850px) {
  .mdc-drawer__title {
    font-size: 24pt;
  }
  .mdc-drawer__subtitle {
    font-size: 1.2rem;
  }

  .main-text {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    font-weight: 100;
  }
}

.about-footer i {
  font-size: 8pt;
}